/**
 * --------------------------------
 * 베이스라인 가이드
 * --------------------------------
 * 색상 변경: #7444DF
 * 라인 변경: 21px
 * --------------------------------
 */
.baseline {
	display: block;
	min-height: 100vh;
	background-image: linear-gradient(180deg, transparent 95%, #7444DF);
	background-size: 100% 21px;
}