body {
	margin: 0;
}

.container-12 {
	width: 1200px;
	margin: 20px auto;
}

/* 클리어픽스 */
.row:after {
	content: '';
	display: block;
	clear: both;
}

/* 마이크로 클리어픽스 */
.row::before,
.row::after {
	display: table;
	content: '';
}
.row::after {
	clear: both;
}

.row {

	/*float: left;*/

	/* 1. 제일 간단... overflow: hidden; */
	/*overflow: hidden;*/
	margin-bottom: 20px;
}

/* 2. 권하고 싶지 않은 방법 */
.clear {
	clear: both;
}

.col {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	background: #000;
	height: 40px;
}

.col-1 {
	width: 80px;
}

.col-2 {
	width: 180px;
}

.col-10 {
	width: 980px;
}
