/*! style.css @ yamoo9.net <yamoo9@naver.com>, 2015 */

/*

	CSS 문법 작성 규칙
	--------------------------------------------------

	선택자 {
		속성: 값;
	}

 */


/*
 * 문서 바디(Body) 요소 스타일링
 * --------------------------------------------------
 */
body {
	/* 문서 가로폭 1200px 화면 가운데 정렬 설정 */
	/*width: 1200px;*/
	width: 80%;
	min-width: 320px;
	max-width: 768px;
	margin: 0 auto 4em;
	/* 서체 크기 */
	font-size: 14px;
}

body.baseline-grid {
	/* 배경 이미지 설정 - 베이스라인 그리드(Baseline Grid) */
	background: url(../images/bg/baseline-21px.gif);
}


/*
 * 단락(Paragraph) 요소 스타일링
 * --------------------------------------------------
 */
p {
	/* 행폭 */
	/*width: 550px;*/
	/* 단락 위/아래 공간 설정 */
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	/* 서체 */
	font-family: "Nanum Gothic";
	/* 서체 크기 */
	font-size: 14px;
	/* 행간 */
	line-height: 1.5;
	/* 서체 색상 */
	color: #1b1e20;
	/* 자간 설정 */
	letter-spacing: -0.03em;
	/* 어간 설정 */
	word-spacing: 0.1em;
}


/*
 * 제목(Headings) 요소 스타일링
 * --------------------------------------------------
 */
h1 {
	/* 서체 */
	font-family: "Nanum Gothic";
	/* 서체 크기: 14px * 2 */
	font-size: 2em;
	/* 행간 */
	line-height: 1.5;
	/* 서체 색상 */
	color: #1b1e20;
	/* 자간 설정 */
	letter-spacing: -0.05em;
	/* 어간 설정 */
	word-spacing: 0.1em;
}

h2 {
	margin-top: 1.09em;
	margin-bottom: 1.09em;
	/* 서체 */
	font-family: "Nanum Gothic";
	/* 서체 크기: 14px * 1.7 */
	font-size: 1.7em;
	/* 행간 */
	line-height: 1.35;
	/* 서체 색상 */
	color: #1b1e20;
	/* 자간 설정 */
	letter-spacing: -0.045em;
	/* 어간 설정 */
	word-spacing: 0.1em;
}


/*
 * 이미지(Image) 요소 스타일링
 * 반응형 이미지 처리
 * --------------------------------------------------
 */
img {
	height: auto;
	max-width: 100%;
}