/*! style.css @ yamoo9.net <yamoo9@naver.com>, 2015 */

/*

	[CSS 문법 작성 규칙]
		선택자 - 스타일링하고자 하는 HTML 문서 요소를 선택합니다.
		속성  - 디자인 속성 이름을 입력합니다.
		값   - 속성에 적용 가능한 값을 입력합니다.
	--------------------------------------------------

	선택자 {
		속성: 값;
	}

 */


/*
 * 문서 바디(Body) 요소 스타일링
 * --------------------------------------------------
 */
body {
	/* 문서 가로폭 960px 화면 가운데 정렬 설정 */
	/*width: 960px;*/
	width: 960px;
	/*min-width: 320px;
	max-width: 768px;*/
	margin: 4.5em auto 4em;
	/* 서체 크기 */
	font-size: 14px;

	/*text-align: justify;*/

	-webkit-column-count: 2;
	   -moz-column-count: 2;
	        column-count: 2;
	-webkit-column-gap: 2em;
	   -moz-column-gap: 2em;
	        column-gap: 2em;

}

body.baseline-grid {
	/* 배경 이미지 설정 - 베이스라인 그리드(Baseline Grid) */
	background: url(../images/bg/baseline-21px.gif);
}


/*
 * 단락(Paragraph) 요소 스타일링
 * --------------------------------------------------
 */
p {
	/* 행폭 */
	/*width: 550px;*/
	/* 단락 위/아래 공간 설정 */
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	/* 서체 */
	font-family: "Nanum Gothic";
	/* 서체 크기 */
	font-size: 14px;
	/* 행간 */
	line-height: 1.5;
	/* 서체 색상 */
	color: #1b1e20;
	/* 자간 설정 */
	letter-spacing: -0.03em;
	/* 어간 설정 */
	word-spacing: 0.1em;
}


/*
 * 제목(Headings) 요소 스타일링
 * --------------------------------------------------
 */
h1 {
	/* 서체 */
	font-family: "Nanum Gothic";
	/* 서체 크기: 14px * 2 */
	font-size: 2em;
	/* 행간 */
	line-height: 1.5;
	/* 서체 색상 */
	color: #1b1e20;
	/* 자간 설정 */
	letter-spacing: -0.05em;
	/* 어간 설정 */
	word-spacing: 0.1em;
}

h2 {
	margin-top: 0;
	margin-bottom: 1.18em;
	/* 서체 */
	font-family: "Nanum Gothic";
	/* 서체 크기: 14px * 1.6 */
	font-size: 1.6em;
	/* 행간 */
	line-height: 1.35;
	/* 서체 색상 */
	color: #1b1e20;
	/* 자간 설정 */
	letter-spacing: -0.045em;
	/* 어간 설정 */
	word-spacing: 0.1em;
}


/*
 * 이미지(Image) 요소 스타일링
 * 반응형 이미지 처리
 * --------------------------------------------------
 */
img {
	height: auto;
	max-width: 100%;
}