/*
	Grid System을 구현
	페이지 전체 폭: Page Width = 1200px
	컬럼의 폭: Column Width = 80px
	거터의 폭(양쪽): Gutter Left Width, Right Width = 10px
	베이스라인: 글꼴 사이즈의 1.5배

	계산식
	변수
	$columns-count: 16;
	$page-width: 1430px;
	$gutter: 12px;
	$column-width: ????;

	y = ($page-width - ($gutter * ($colums-count*2))) / $colums-count
	y = (1200 - (x * (12*2))) / 12
	(1200 - (10 * (12*2))) / 12
 */

/* 화면에 기본적으로 그려지는 body 요소의 외부여백을 초기화 */
body {
	margin: 0;
}

/*=#app.container*/
.container {
	width:        1200px;
	min-height:   100vh;
	margin-left:  auto;
	margin-right: auto;
	background:   #75D7FF;
}

.col {
	float:         left;
	height:        49px;
	margin-left:   10px;
	margin-right:  10px;
	margin-bottom: 5px;
	background:    #000;
}

.col-1  { width: 80px;   } /* 80*1 + (20*(1-1))   */
.col-2  { width: 180px;  } /* 80*2 + (20*(2-1))   */
.col-3  { width: 280px;  } /* 80*3 + (20*(3-1))   */
.col-4  { width: 380px;  } /* 80*4 + (20*(4-1))   */
.col-5  { width: 480px;  } /* 80*5 + (20*(5-1))   */
.col-6  { width: 580px;  } /* 80*6 + (20*(6-1))   */
.col-7  { width: 680px;  } /* 80*7 + (20*(7-1))   */
.col-8  { width: 780px;  } /* 80*8 + (20*(8-1))   */
.col-9  { width: 880px;  } /* 80*9 + (20*(9-1))   */
.col-10 { width: 980px;  } /* 80*10 + (20*(10-1)) */
.col-11 { width: 1080px; } /* 80*11 + (20*(11-1)) */
.col-12 { width: 1180px; } /* 80*12 + (20*(12-1)) */

.prefix-1  { padding-left: 110px;  } /* 80*1 + (20*(1))   */
.prefix-2  { padding-left: 210px;  } /* 80*2 + (20*(2))   */
.prefix-3  { padding-left: 310px;  } /* 80*3 + (20*(3))   */
.prefix-4  { padding-left: 410px;  } /* 80*4 + (20*(4))   */
.prefix-5  { padding-left: 510px;  } /* 80*5 + (20*(5))   */
.prefix-6  { padding-left: 610px;  } /* 80*6 + (20*(6))   */
.prefix-7  { padding-left: 710px;  } /* 80*7 + (20*(7))   */
.prefix-8  { padding-left: 810px;  } /* 80*8 + (20*(8))   */
.prefix-9  { padding-left: 910px;  } /* 80*9 + (20*(9))   */
.prefix-10 { padding-left: 1010px;  } /* 80*10 + (20*(10)) */
.prefix-11 { padding-left: 1110px; } /* 80*11 + (20*(11)) */
.prefix-12 { padding-left: 1210px; } /* 80*12 + (20*(12)) */

.suffix-1  { padding-right: 110px;  } /* 80*1 + (20*(1))   */
.suffix-2  { padding-right: 210px;  } /* 80*2 + (20*(2))   */
.suffix-3  { padding-right: 310px;  } /* 80*3 + (20*(3))   */
.suffix-4  { padding-right: 410px;  } /* 80*4 + (20*(4))   */
.suffix-5  { padding-right: 510px;  } /* 80*5 + (20*(5))   */
.suffix-6  { padding-right: 610px;  } /* 80*6 + (20*(6))   */
.suffix-7  { padding-right: 710px;  } /* 80*7 + (20*(7))   */
.suffix-8  { padding-right: 810px;  } /* 80*8 + (20*(8))   */
.suffix-9  { padding-right: 910px;  } /* 80*9 + (20*(9))   */
.suffix-10 { padding-right: 1010px;  } /* 80*10 + (20*(10)) */
.suffix-11 { padding-right: 1110px; } /* 80*11 + (20*(11)) */
.suffix-12 { padding-right: 1210px; } /* 80*12 + (20*(12)) */

.push-1  { margin-left: 110px;  } /* 80*1 + (20*(1))   */
.push-2  { margin-left: 210px;  } /* 80*2 + (20*(2))   */
.push-3  { margin-left: 310px;  } /* 80*3 + (20*(3))   */
.push-4  { margin-left: 410px;  } /* 80*4 + (20*(4))   */
.push-5  { margin-left: 510px;  } /* 80*5 + (20*(5))   */
.push-6  { margin-left: 610px;  } /* 80*6 + (20*(6))   */
.push-7  { margin-left: 710px;  } /* 80*7 + (20*(7))   */
.push-8  { margin-left: 810px;  } /* 80*8 + (20*(8))   */
.push-9  { margin-left: 910px;  } /* 80*9 + (20*(9))   */
.push-10 { margin-left: 1010px;  } /* 80*10 + (20*(10)) */
.push-11 { margin-left: 1110px; } /* 80*11 + (20*(11)) */
.push-12 { margin-left: 1210px; } /* 80*12 + (20*(12)) */

.pull-1  { margin-left: -110px;  } /* 80*1 + (20*(1))   */
.pull-2  { margin-left: -210px;  } /* 80*2 + (20*(2))   */
.pull-3  { margin-left: -310px;  } /* 80*3 + (20*(3))   */
.pull-4  { margin-left: -410px;  } /* 80*4 + (20*(4))   */
.pull-5  { margin-left: -510px;  } /* 80*5 + (20*(5))   */
.pull-6  { margin-left: -610px;  } /* 80*6 + (20*(6))   */
.pull-7  { margin-left: -710px;  } /* 80*7 + (20*(7))   */
.pull-8  { margin-left: -810px;  } /* 80*8 + (20*(8))   */
.pull-9  { margin-left: -910px;  } /* 80*9 + (20*(9))   */
.pull-10 { margin-left: -1010px;  } /* 80*10 + (20*(10)) */
.pull-11 { margin-left: -1110px; } /* 80*11 + (20*(11)) */
.pull-12 { margin-left: -1210px; } /* 80*12 + (20*(12)) */

/* float된 요소들을 포함하는 부모 요소가 자식 요소를 감싸는 방법 중 하나를 사용 */
.row {
	overflow: hidden;
}

/*=#gallery*/
#gallery div {
	float: left;
	width: 25%;
	height: 49px;
	background: #f00;
}

#gallery div:first-child {
	background: #ff0;
}
#gallery div:nth-child(2) {
	background: #0000FF;
}
#gallery div:nth-child(3) {
	background: #FC0047;
}
#gallery div:last-child {
	background: #22FF19;
}
