body {
	margin: 0;
}

/* 박스 컨테이너 요소 디자인 */
.box-container {
	overflow: hidden;
	position: relative;
	width: 800px;
	height: 320px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	background: #74DEF9;
}

/* 박스 요소 공통 디자인 */
.box {
	position: absolute;
	width: 60px;
	height: 60px;
	transition: all .3s;
}

/* 박스 요소 개별 디자인 */
.box1 {
	right: -60px;
	bottom: -60px;
	background: #FC414B;
}
.box2 {
	left: -60px;
	bottom: -60px;
	background: #783AFF;
}
.box3 {
	right: -60px;
	top: -60px;
	background: #FEB649;
}
.box4 {
	left: -60px;
	top: -60px;
	background: #FB2A86;
}


/*.box-container 요소에 마우스 올라간 후, .box 위치 변경*/
.box-container:hover .box1 {
	right: 0;
	bottom: 0;
}

.box-container:hover .box2 {
	left: 0px;
	bottom: 0px;
}
.box-container:hover .box3 {
	right: 0px;
	top: 0px;
}
.box-container:hover .box4 {
	left: 0px;
	top: 0px;
}