/*모바일 최적화*/
html, html a {
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	font: 14px/1.5 "Droid Sans";
	letter-spacing: -0.06em;
}

/*공통 디자인*/
header, main, aside, footer {
	font-size: 42px;
	text-align: center;
}

/*텍스트 가운데 배치*/
header, footer {
	height: 25vh;
	line-height: 25vh;
}

main, aside {
	height: 50vh;
	line-height: 50vh;
}

/*main {
	height: 50vh;
}*/

/*main img {
	float: left;
	margin-right: 6px;
}

main p {
	clear: left;
	margin-top: 0;
}*/


/*컬러*/
header {
	background: #F28177;
}

main {
	background: #EDB08B;
}

aside {
	background: #DA5F69;
}

footer {
	background: #4A42C7;
}

/*만약.... 뷰포트의 가로폭이 480px 이상이 된다면...
미디어쿼리(Media Queries)문*/

@media only screen and (min-width: 480px) {

	/*2단 레이아웃*/
	main {
		float: left;
		width: 50%;
	}

	aside {
		float: left;
		width: 50%;
	}

	footer {
		clear: left;
	}

}

@media only screen and (min-width: 800px) {

	/*2단 레이아웃*/
	main {
		float: left;
		width: 80%;
	}

	aside {
		float: left;
		width: 20%;
	}

	footer {
		clear: left;
	}

}

