/*모바일 최적화*/
html, html a {
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	font: 14px/1.5 "Droid Sans";
	letter-spacing: -0.06em;
}

/*공통 디자인*/
header, aside, footer {
	font-size: 42px;
	text-align: center;
}

/*텍스트 가운데 배치*/
header, footer {
	height: 25vh;
	line-height: 25vh;
}

aside {
	height: 50vh;
	line-height: 50vh;
}

main {
	height: 50vh;
}

main img {
	float: left;
	margin-right: 6px;
}

main p {
	clear: left;
	margin-top: 0;
}


/*컬러*/
header {
	background: #F28177;
}

main {
	background: #EDB08B;
}

aside {
	background: #DA5F69;
}

footer {
	background: #4A42C7;
}

/*2단 레이아웃*/
main {
	float: left;
	/*width: 50%;*/
	width: 60%;
}

aside {
	float: left;
	/*width: 50%;*/
	width: 40%;
}

footer {
	clear: left;
}