html, html a {
	-webkit-font-smoothing: antialiased;
}

body {
	margin: 0;
	font: 14px/1.5 "Droid Sans";
	letter-spacing: -0.06em;
}

header, footer {
	height: 25vh;
	line-height: 25vh;
}

main, aside {
	height: 50vh;
	line-height: 50vh;
}

header, main, aside, footer {
	font-size: 42px;
	text-align: center;
}

header {
	background: #F28177;
}

main {
	background: #EDB08B;
}

aside {
	background: #DA5F69;
}

footer {
	background: #4A42C7;
}