@charset "utf-8";
/* style.css @ yamoo9.net, 2014 */
@import "./partials/normalize.css";

/* common */
body {
	background: #fff;
	background: url(../images/baseline.gif);
}

.row {
	width: 940px; /* 960.gs */
	margin: 0 auto;
}

nav ul,
#gnb ul,
#lnb ul,
#unb ul {
	/* 목록 스타일 초기화 */
	padding-left: 0;
	list-style: none;
}

/* header */
#header {
	/* 넘쳐난 영역 밖의 요소를 감춘다 */
	/*overflow: hidden;*/
	/* 포토샵의 그리드 시스템 베이스라인을 기준으로 바로 작업 */
	height: 125px;
	/* 포토샵 CopyCSS 기능을 쓰거나,
	상용 플러그인 CSS Hat을 사용 */
	border-bottom: 1px solid #ffcb00;
}

#header * {
	margin-top: 0;
}

#brand {
	float: left;
	/*margin: 13px 40px 0 0;*/
	margin-top: 13px;
	margin-right: 40px;
	width: 120px;
}

#gnb {
	float: left;
	margin-top: 22px;
}

#gnb li {
	display: inline-block;
	margin-right: 35px;
	/*width: 60px;*/
}

#gnb li:hover {
	border-bottom: 4px solid #0065b8;
	padding-bottom: 18px;
}

#gnb a {
	color: #0065b8;
	text-decoration: none;
	/*
		글꼴:      font-family
		글자 크기:  font-size
		글자 두께:  font-weight
		글자 기울기: font-style
		행간:		line-height

		font 속기형 작성법
		[필수] font: size/line-height font-family;
		[옵션] font: weight style size/line-height font-family;
	 */
	font: 700 16px/1 "Nanum Gothic";
	/*font-family: "Nanum Gothic";
	font-size: 16px;
	font-weight: 700;*/
}

/* landing */
#landing {

}
/* promotions */
#promotions {

}
/* recommendations */
#recommendations {

}
/* footer */
#footer {

}