@charset "utf-8";

/* 외부의 스타일 모듈 호출 */
@import "./parts/normalize.min.css";
@import "./parts/gs.min.css";

/* #page */
#page {
	width: 1200px;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	background: url(../images/guide/gs-guide.png);
}