@charset "utf-8";
/**
 * --------------------------------
 * 스타일 모듈 호출
 * --------------------------------
 */
@import url("base/reset.css");
@import url("base/grid.css");
@import url("../images/sprites/sprites-ui.css");



/**
 * --------------------------------
 * AWARE 사이트 스타일 디자인
 * --------------------------------
 */
.container {
	position: relative;
	min-height: 100vh;
	background: #ddd;
}

.container.grid::before {
	content: '';
	position: absolute;
	width: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	background: url(../images/guide/bg-grid-system-960-8.png);
}


/**
 * --------------------------------
 * .header
 * --------------------------------
 */
.header {
	background: #fff;
	height: 80px;
}

.brand {
	/* IR 테크닉 활용: png, svg, sprite */
	/*display: block;
	width: 97px;
	height: 20px;*/
	/*background: url(../images/svg/svg-logo-aware.svg) no-repeat;*/
	/*background: url(../images/png/svg-logo-aware.png) no-repeat;*/
}

.brand,
.off-canvas-menu {
	padding-top: 30px;
}

.sprite-svg-logo-aware {
	margin-left: -38px;
}

.sprite-svg-icon-hamberger {
	margin-left: 30px;
	margin-top: 5px;
}
