@charset "utf-8";
@import url("base/reset.css");

.container {
	position: relative;
	width: 960px;
	min-height: 100vh;
	margin-left: auto;
	margin-right: auto;
}

.container.grid::before {
	content: '';
	position: absolute;
	width: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	background: url(../images/guide/bg-grid-system-960-8.png);
}
