@charset"utf-8";
@import"partials/normalize.css";
@import"partials/common.css";
@import"partials/grid.css";
#header {
    overflow: hidden;
    height: 119px;
    border-bottom: 1px solid #ffcb00
}
#header * {
    margin-top: 0
}
#brand {
    float: left;
    width: 120px;
    margin-top: 6px;
    margin-right: 40px
}
#brand a {
    display: block
}
#gnb {
    float: left;
    margin-top: 20px;
    margin-left: -5px
}
#gnb li {
    display: inline-block;
    margin-right: 35px
}
#gnb a {
    padding: 0 5px;
    color: #0065b8;
    font-size: 16px;
    font-weight: 700
}
#gnb ul a:focus {
    outline: 0
}
.body-home #home, .body-flight #flight, .body-hotel #hotel, .body-product #product, .body-rent #rent, .body-coupon #coupon, #gnb a:hover, #gnb a:focus {
    border-bottom: 4px solid #0065b8;
    padding-bottom: 18px
}
#unb {
    float: right;
    width: 225px;
    margin-top: 21px
}
#unb>ul>li {
    float: left;
    width: 58px;
    margin-right: 14px
}
#unb>ul>li:nth-child(3) {
    width: 35px;
    margin-right: 0
}
#unb>ul>li:nth-child(3) a {
    background: 0
}
#unb>ul>li:last-child {
    float: right;
    width: 29px;
    margin-right: 0
}
/*
#unb>ul>li:hover ul {
	display: block;
}*/

#unb>ul>li ul {
    display: none;
    position: relative;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    padding-left: 9px;
    border-radius: 4px;
    left: -9px;
    top: 3px;
}
#unb>ul>li>a {
    display: block;
    height: 21px;
    background: url(../images/header/icon-arrow.gif) no-repeat right center;
    line-height: 21px
}
#unb a {
    color: #0065b8;
    font-size: 11px
}
#landing {
    overflow: hidden;
    height: 378px;
    background: url(../images/landing/bg-landing.jpg) center -12px no-repeat;
    background-size: cover
}
#landing h2 {
    margin-top: 105px;
    margin-bottom: 0;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    text-align: center;
    text-shadow: 0 0 5px rgba(3, 3, 3, .6)
}
#search-box {
    width: 940px;
    height: 169px;
    margin-top: 42px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 4px
}
#promotions * {
    margin-top: 0;
    margin-bottom: 0
}
#promotion-headline {
    position: relative;
    height: 146px;
    padding-top: 83px;
    background: url(../images/promotions/bg-world-map.png) no-repeat center 21px;
    text-align: center
}
#promotion-headline::after, #promotion-headline #map-pin {
    content: "";
    position: absolute;
    bottom: -42px;
    left: 50%;
    width: 188px;
    height: 82px;
    margin-left: -94px;
    background: url(../images/promotions/map.png) no-repeat
}
#promotion-headline h3 {
    color: #313335;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4
}
#promotion-headline strong {
    color: #0065b8
}
#promotion-headline span {
    color: #626466;
    font-size: 24px;
    font-weight: 400
}
#promotion-contents {
    height: 441px;
    padding-top: 85px;
    background: url(../images/promotions/bg-pattern.png)
}
#promotion-contents .container_12:nth-of-type(2) {
    position: relative
}
#promotion-contents h4 {
    margin-top: 3px;
    color: #313335;
    font-size: 16px;
    font-weight: 700
}
#promotion-contents h4 .nationality {
    color: #97999b;
    font-size: 14px;
    font-weight: normal
}
#promotion-contents .item {
    position: relative;
    height: 161px;
    padding-top: 196px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3)
}
#promotion-contents .item .photo-mask {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 50%;
    width: 300px;
    height: 190px;
    margin-left: -150px;
    border-radius: 4px 4px 0 0
}
#promotion-contents .item .photo-mask span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 301px;
    height: 65px;
    color: #fff;
    background: rgba(0, 0, 0, .7);
    font-size: 24px;
    line-height: 65px;
    text-align: center
}
#promotion-contents .item img {
    width: 100%;
    height: auto
}
#promotion-contents .item>*:not(.photo-mask) {
    padding-right: 15px;
    padding-left: 15px
}
#promotion-contents .item p {
    margin-top: 8px;
    color: #626466;
    font-size: 14px;
    letter-spacing: -.07em
}
#promotion-contents .item .review {
    margin-top: 5px;
    background: url(../images/promotions/star-rating-4.png) no-repeat 17px -1px;
    font-size: 12px
}
#promotion-contents .item .review a {
    display: inline-block;
    margin-left: 20px;
    color: #626466;
    text-decoration: none
}
#promotion-contents .item .discount {
    position: absolute;
    z-index: 10;
    top: -7px;
    left: 13px;
    height: 82px;
    padding-top: 28px;
    padding-left: 12px;
    color: #00355f;
    background: url(../images/promotions/icon-shape.png) no-repeat;
    font-size: 12px
}
#promotion-contents .item-roma .review {
    background-image: url(../images/promotions/star-rating-4.5.png)
}
#promotion-contents .item .review a:hover, #promotion-contents .item .review a:focus {
    color: #0064b8
}
#promotion-contents .item .rating {
    display: inline-block;
    padding-left: 100px
}
#promotion-contents .item .rating span {
    color: #0064b8;
    font-weight: 700
}
#promotion-contents .item .service-info {
    height: 42px;
    margin-top: 18px;
    border-top: 1px solid #eef0ef;
    line-height: 42px
}
#promotion-contents .item .min-price {
    color: #fa0;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none
}
#promotion-contents .item .min-price span {
    font-size: 14px;
    font-weight: normal
}
#promotion-contents .item .flight-count {
    float: right;
    color: #626466;
    font-size: 14px;
    text-decoration: none
}
#promotion-contents .pagenation {
    position: absolute;
    z-index: 100;
    top: 34px;
    left: 50%;
    width: 108px;
    margin-left: -54px
}
#promotion-contents .pagenation a[role=button] {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: inset 0 1px 2px rgba(131, 131, 131, .7)
}
#promotion-contents .pagenation a[role=button]:last-child {
    margin-right: 0
}
#promotion-contents .pagenation a[role=button][class*="active"] {
    width: 33px;
    background-color: #0065b8;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .25) 0, rgba(255, 255, 255, .25) 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .25) 0, rgba(255, 255, 255, .25) 100%);
    box-shadow: inset .5px .9px 1px rgba(255, 255, 255, .75), inset 0 0 0 rgba(255, 255, 255, .25)
}
#promotion-contents .control-buttons {
    position: relative;
    top: 28px
}
#promotion-contents .control-buttons a[role=button] {
    position: relative;
    width: 60px;
    height: 28px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3)
}
#promotion-contents .control-buttons a[role=button]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    margin: -6px 0 0 -6px;
    background: url(../images/promotions/icon-arrow.svg) no-repeat
}
#promotion-contents .control-buttons a[role=button][class*="-next"]::after {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}
#recommendations {
    text-align: center
}
#recommendation-headline * {
    margin: 0
}
#recommendation-headline h3 {
    margin-top: 63px;
    color: #313335;
    font-size: 30px;
    font-weight: 700
}
#recommendation-headline p {
    margin-bottom: 42px;
    color: #626466;
    font-size: 24px
}
#recommendation-contents {
    margin-top: 45px
}
#recommendation-contents ul {
    padding-left: 0;
    list-style: none
}
#recommendation-contents li {
    margin-bottom: 13px
}
#recommendation-contents a {
    display: block;
    position: relative
}
#recommendation-contents .mask {
    overflow: hidden;
    border-radius: 3px
}
#recommendation-contents a:focus {
    outline: 0
}
#recommendation-contents a:hover span, #recommendation-contents a:focus span {
    -webkit-transform: scale(1.5, 1.5);
    transform: scale(1.5, 1.5)
}
#recommendation-contents a:hover::before, #recommendation-contents a:focus::before {
    opacity: 0
}
#recommendation-contents a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    border-radius: 3px;
    -webkit-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out
}
#recommendation-contents i {
    position: absolute;
    top: -4px;
    left: -4px;
    width: 85px;
    height: 85px;
    background: url(../images/recommandations/ribbon.png)
}
#recommendation-contents span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 30px;
    margin: -15px 0 0 -50px;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
    text-shadow: 0 1px 5px rgba(3, 3, 3, .75);
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in
}
#footer {
    height: 189px;
    margin-top: 50px;
    padding-top: 42px;
    padding-bottom: 42px;
    background: #00355f;
    box-sizing: border-box
}
#footer * {
    margin-top: 0;
    margin-bottom: 0;
    color: #a6bfce
}
#footer h5 {
    font-size: 14px;
    font-weight: 700
}
#footer ul {
    padding-left: 0;
    list-style: none
}
#footer div:not(.container_12) {
    margin-bottom: 21px
}
#footer li {
    display: inline-block
}
#footer ul li:last-child a, #footer .footer-links li a, #footer .sns-links a {
    margin-right: 0;
    border-right: 0;
    padding-right: 0
}
#footer ul a {
    margin-right: 7px;
    border-right: 1px solid;
    padding-right: 12px;
    font-size: 14px;
    text-decoration: none
}
#footer .footer-links li {
    display: list-item;
    height: 28px
}
#footer .footer-links ul:first-child {
    float: left
}
#footer .footer-links ul:last-child {
    float: right
}
#footer .sns-links li {
    margin-right: 5px
}
#footer .sns-links li:last-child {
    margin-right: 0
}
#footer .sns-icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin-top: 7px;
    background: url(../images/footer/sns-sprite-images.png)
}
#footer .sns-pinterest {
    background-position: 0 0
}
#footer .sns-twitter {
    background-position: -30px 0
}
#footer .sns-facebook {
    background-position: -61px 0
}
#footer .sns-google {
    background-position: -92px 0
}
#footer .sns-pinterest:hover, #footer .sns-pinterest:focus {
    background-position: 0 -30px
}
#footer .sns-twitter:hover, #footer .sns-twitter:focus {
    background-position: -30px -30px
}
#footer .sns-facebook:hover, #footer .sns-facebook:focus {
    background-position: -61px -30px
}
#footer .sns-google:hover, #footer .sns-google:focus {
    background-position: -92px -30px
}
#footer .selected-language {
    display: block;
    height: 32px;
    border: 1px solid rgba(204, 204, 204, .8);
    padding-left: 14px;
    color: #626466;
    background-color: #fff;
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .1) 0, rgba(255, 255, 255, 0) 100%);
    background-image: linear-gradient(to top, rgba(0, 0, 0, .1) 0, rgba(255, 255, 255, 0) 100%);
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    text-decoration: none;
    border-radius: 2px;
    box-shadow: .5px .9px 2px rgba(3, 3, 3, .4)
}
#footer .change-language {
    margin-top: 9px
}
#footer .selected-language::after {
    content: ">";
    display: inline-block;
    margin-left: 10px;
    font-size: 10px;
    font-weight: normal;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}
#footer .selected-language+ul {
    display: none
}
