@charset "utf-8";

body {
	margin: 0;
}

.container * {
	box-sizing: border-box;
}

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 24px;
}

.container::after {
	display: block;
	clear: both;
	content: '';
}

.container [class*="col-"] {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	min-height: 40px;
	background: #000;
}

.container .col-1 {
  width: 80px;
}

.container .col-2 {
  width: 180px;
}

.container .col-3 {
  width: 280px;
}

.container .col-4 {
  width: 380px;
}

.container .col-5 {
  width: 480px;
}

.container .col-6 {
  width: 580px;
}

.container .col-7 {
  width: 680px;
}

.container .col-8 {
  width: 780px;
}

.container .col-9 {
  width: 880px;
}

.container .col-10 {
  width: 980px;
}

.container .col-11 {
  width: 1080px;
}