body, body *,
body::before, body *::before,
body::after, body *::after {
	box-sizing: border-box;
}

/* Micro Clearfix */
.cf::before,
.cf::after {
	content: '';
	display: table;
}
.cf::after {
	clear: both;
}

.lt-ie8 .cf {
	zoom: 1; /* MS 비표준 속성 */
}