/* style.css */
html {
	/* UI y축이 움직이는 것을 방지하기 위한 목적의 코드 */
	overflow-y: scroll;
}
body {
	/* 외부여백 초기화 */
	margin: 0;
	font: 100%/1.5 "Helvetica Neue", Helvetica;
	/* Verdana, Arial */
	/* "Nanum Gothic", "Malgun Gothic", Dotum */
}

/* 컨테이너: 화물(Columns)을 감싸는 그룹 */
.container {
	width: 1200px;
	height: 800vh;
	margin-left: auto;
	margin-right: auto;
	background: url(../images/guide/grid-system.gif);
}

/* 행 */
.row::after,
.clearfix::after,
.cf::after
 {
	content: '';
	display: block;
	clear: both;
}

/* 컬럼 디자인의 공통 스타일 모듈 */
[class*="col-"] {
	float: left;
	background: hsla(0, 0%, 0%, 1);
	color: hsla(0, 0%, 100%, 1);
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

/* 시스템에 의한 컬럼 개별 스타일 */
.col-1 {
	width: 80px;
}

.col-2 {
	width: 180px;
}

.col-3 {
	width: 280px;
}

.col-4 {
	width: 380px;
}

/* 아이솔레이트 레이아웃 디자인 */
.isolate, [class*="isolate-"] {
	margin-right: -100%;
}

.isolate-2 {
	margin-left: 110px;
}

.isolate-3 {
	margin-left: 210px;
}

.isolate-4 {
	margin-left: 310px;
}

/*

x = 2

.isolate-x {
	margin-left: 80*(x-1)+20*(x-1);
}
*/


.banner {
	position: fixed;
	top: 0;
	left: 0;
	height: 10vh;
	width: 100%;
	background: hsla(0, 0%, 0%, 0.5);
	color: hsla(0, 0%, 100%, 1);
	text-align: center;
	line-height: 10vh;
}

.banner:hover {
	position: static;
}