/* style.css */
html {
	/* UI y축이 움직이는 것을 방지하기 위한 목적의 코드 */
	overflow-y: scroll;
}
body {
	/* 외부여백 초기화 */
	margin: 0;
	font: 100%/1.5 "Helvetica Neue", Helvetica;
	/* Verdana, Arial */
	/* "Nanum Gothic", "Malgun Gothic", Dotum */
}

.container {
	width: 1200px;
	height: 100vh;
	margin-left: auto;
	margin-right: auto;
	background: url(../images/guide/grid-system.gif);
}

.row {
	/*overflow: hidden*/;
}

.row::after {
	content: '';
	display: block;
	clear: both;
}

.clear {
	clear: both;
}

.col-1 {
	float: left;
	background: #000;
	color: #fff;
	width: 80px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.col-2 {
	float: left;
	background: #000;
	color: #fff;
	width: 180px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.col-3 {
	float: left;
	background: #000;
	color: #fff;
	width: 280px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

.col-4 {
	float: left;
	background: #000;
	color: #fff;
	width: 380px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}